

/*Lembrar de colocar a tag ALT nos links*/


*{
    padding: 0px;
    margin: 0px;
    outline: none;

}

header {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    height: 60px ;
    width:100%;
    background-color:rgb(0, 0, 0);
    position: fixed;
    z-index: 5;
    margin:-60px 0px 0px 0px ;
}

body{
    align-items: center;
    font-family: arial;
    margin:0px;
    align-items: center;
}

.menu {
    width: 25%;
    height: 60px;
    float:center;
    background-color:black;
}

.tituloDepoimento{
    margin:0px;
    padding: 0%;
    max-width: 100%;
    width: 50%;
}
.btn-dep button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:0px 0px 0px 55px;
    padding: 0%;
    max-width: 100%;
    width: 100px;
    min-width: 25%;
    height: 25px;
    min-height: 30px;
    background-color:#388bd8;;
    align-items: center;
}



.depoimento {
    margin:0px;
    padding: 0%;
    max-width: 100%;
    width: 50%;
}

.link-back{
    margin:0px;
    padding: 0%;
    max-width: 100%;
    width: 50%;
}

.btndepoimento {
    padding: 15px 45px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin:20px 0px 30px 570px ;
}




.link-back {
    text-align: center;
    width:98%;
    max-width: 100%;
    align-items: 100%;
    padding: 10px 0px 0px 0px;
    color:rgb(0, 0, 0)  
}

.link-back a{
    color:rgb(0, 0, 0)  
}

.menu ul {
    width: 100%;
    height:60px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin:0px;
    
}

.menu ul li{
    padding:20px;
    cursor: pointer;
    height: 60px;

}

.menu ul li a {
    color:#40D3DC;
    cursor: pointer;
    
}

a {
text-decoration: none;
}

.menu ul li a:hover {
    border-bottom:white;
    background-color:#388bd8;
    padding: 23px;
    color:white;
}

.container-background {
    font-family: arial;
	background-image: url('notecode.JPG');
    background-size:100%;
    height: 600px;
    width:100%;
    background-size:cover, 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .75); 
    background-blend-mode:multiply;
}
 

.cards {
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin:0px 0px 5px 10px;
}

.card-shadow {
    color:black;
    background-color:rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    overflow:auto;
    float:left;
    margin:0 7px;
    width:28%;
    text-align: center;
    min-height: 250px;
    height:250px;
    box-shadow: 0 2px 2px 0 rgba(202, 202, 202, 0.17), 0 3px 1px -2px rgba(209, 209, 209, 0.17), 0 1px 5px 0 rgba(195, 195, 195, 0.17), 0 1px 5px 0 rgba(194, 194, 194, 0.17); 
}

::-webkit-scrollbar {
    width:5px;
    display:none;

}

.card-shadow img{
    padding: 2px 0px 0px 0px;
    width: 100px; 
}

.wrap {
    width: 98%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding:0px 0px 60px 0px;
    margin:0px 40px 0px 0px;
}

.content{
    width:100%;
    height:100%;
    padding:40px 0px;

}

.content h2 {
    margin: 0%;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-family: 'teko', 'robot', 'sans-serif';

}

.parallax {
    align-items: center;
    flex-direction: row;
    height: 450px;
    display:flex;
    width:100%;
    justify-content: center;
    background-image: url('notecode1.jpg');
    background-size:cover;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: multiply;
    background-attachment: fixed;
    margin:10px 0px 0px 10px;
    overflow: hidden;
}

.parallax-dep{
    text-align: right;
    flex-direction: row;
    height: 400px;
    display:flex;
    width:100%;
    align-items: center;
    background-image: url('notecode.jpg');
    background-size:cover;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 5px;
    overflow: hidden;
}

#text {
    font-size: 14px;
    color:white;
    text-align: center;
    margin: 0px;
    width: 100%;
}

#live{
    display: flex;
    margin-bottom:320px;
    color: white;
    font-size: bold;
    position: absolute;
}
/*
#live {
    color:white;
    justify-content: center;
    max-width: 100px 200px;
    margin: 0px 0px 190px 0px;
    font-size:30px;
    font:bold;
}
*/
#sobre {
    color: black;
    margin:15px 0px 0px 18px;
}

/* icones de contato */



.textcontatos {
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: row;
    width:98%;
    padding:40px 0px 40px 30px;
    margin:0px;
}

.textcontatos h2 {
    font-family: 'teko', 'robot', 'sans-serif';
    color:black;
    font-size: 30px;
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 20px 0px 0px;
}
.contatos {
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.contatos img {
    width: 50px;
}
 .contatos ul li{
    list-style: none;
    float:left;
    padding:25px;
    
 }

 .contatos ul {
     margin:10px 5px 0px 0px;
 }


/*transição ao passar o mouse dos icons contatos*/

.contatos ul li a:hover {
    padding:20px;
}







    




